body {
  background-color: white;
  font-family: 'IBM Plex Mono';
  text-transform: uppercase;
}

.App {
  text-align: center;
}

.App-logo {
  height: 300%;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.icon-container {
  margin-right: 60%;
  margin-left: 5%;
  margin-top: -4%;
}
.icon {
  width: 20%;
  margin: 1%;

}
.icon_about {
  width: 10%;
  padding: 1%;
}

.block {
  width: 90%;
  margin-right: 60%;
  margin-top: 8%;
}

.pictures {
  width:50%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 25%;
}
.wireframing {
  width: 50%;
  padding-top: 10px;
}

.flyers {
  width:50%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 25%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

    img:hover {
    filter: none;
      -webkit-transform: scale(1.01);
    }

    /* Fixed sidenav, full height */
    .sidenav {
        height: 100%;
        width: 15%;
        position: fixed;
        margin-left: 85%;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 2%;
        font-size: 100%;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-button {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 100%;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

    /* On mouse-over */
    .sidenav a:hover, .dropdown-button:hover {
        color: #fff;
    }

    /* Main content */
    .main {
        margin-left: 20%; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */
    .active {
        background-color: black;
        color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        padding-left: 8px;
        background-color: white;
        color: black;
        font-style: 'IBM Plex Mono';
        font-size: 14px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 8px;
        background-color: white;
        color: black;
        font-style: 'IBM Plex Mono';
        font-size: 14px;
    }

    /* Some media queries for responsiveness */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    .container {
        width: 75%;
    }
    .collapse {
      padding:20px;
      width:40%;
      float:left;
    }
    .collapsible-header {
      color: black;
    }
    .collapsible-body {
      color: black;
    }
    .image {
      opacity: 1;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
      width: 80%;
      position: relative;
      margin-right: 75%;
      margin-top: 10%;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      width: 50%;
      position: absolute;
      top: 50%;
      left:40%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    .dropdown-content li>a, .dropdown-content li>span {
        font-size: 16px;
        color:white;
        font-size: 14px;
        display: block;
        line-height: 22px;
        padding: 14px 16px;
      }




    .container:hover .image {
      opacity: 0.3;
    }

    .container:hover .middle {
      opacity: 1;
    }

    .text {
      background-color: white;
      color: black;
      font-style: 'IBM Plex Mono';
      font-size: 14px;
      padding: 10px 25px;
    }

.pages {
  width: 85%;
}

.moments {
  margin-top: 5%;
}
.moments-images {
    width:60%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;

}
.about-me-pic {
  width:50%;
  float: left;
  padding: 15px;
}

.pic-text{
  margin-left: 40%;
  margin-top: 2%;
}
